:javascript
  window.onload = function() {
    populateOptions();
    document.getElementById("formsubmit").onclick = enableDropDown;
    document.getElementById("course").onchange = populateOptions;
    document.getElementById("yoe").onchange = populateModules;
  }

  year = #{Timetable::academic_year};
  courseYears = #{@course_years.to_json};
  modules = #{@modules.to_json};
  course_mods = #{@course_modules.to_json};

  function populateOptions() {
    var courseSelect = document.getElementById("course");
    var courseID = courseSelect.options[courseSelect.selectedIndex].value;

    var years = courseYears[courseID];
    if (years == undefined)
      years = [1,2,3,4];

    var yoeSelect = document.getElementById("yoe");
    var currentYoe = yoeSelect.options[yoeSelect.selectedIndex].value;
    yoeSelect.length = 0;
    yoeSelect.disabled = (years.length <= 1);

    for (var i = 0; i < years.length; i++) {
      var k = year - years[i] + 1;
      k = k.toString();
      kshort = k.substr(2);

      var description = ordinal(years[i]) + ' year (' + k + ' entry)';
      var newOption = new Option(description, kshort);
      if (kshort == currentYoe)
        newOption.selected = true;

      yoeSelect.options[i] = newOption;
    }

    populateModules();
  }

  function populateModules() {
    var fieldset = document.getElementById("modules");
    while (fieldset.childNodes.length > 0)
      fieldset.removeChild(fieldset.lastChild);

    var legend = document.createElement("legend");
    legend.innerHTML = "Now only tick the modules you're taking this year";
    fieldset.appendChild(legend);

    var courseSelect = document.getElementById("course");
    var courseID = courseSelect.options[courseSelect.selectedIndex].value;
    var yoeSelect = document.getElementById("yoe");
    var yearIndex = (year - 2000) - yoeSelect.options[yoeSelect.selectedIndex].value + 1;

    var currentModules = course_mods[courseID];
    if (currentModules == undefined)
      return;
    currentModules = currentModules[yearIndex.toString()];
    if (currentModules == undefined)
    return;

    fieldset.className = currentModules.length > 0 ? "" : "hidden";

    for (var i = 0; i < currentModules.length; i++) {
      var module = currentModules[i];
      var checkbox = document.createElement("input");
      checkbox.type = "checkbox";
      checkbox.name = module;
      checkbox.id = module;
      checkbox.checked = true;

      var label = document.createElement("label");
      label.htmlFor = module;
      var moduleName = modules[module.toString()];
      if (moduleName == undefined)
        moduleName = "";
      label.innerHTML = module.toString() + " " + moduleName;

      var br = document.createElement("br");
      fieldset.appendChild(checkbox);
      fieldset.appendChild(label);
      fieldset.appendChild(br);
    }
  }

  function enableDropDown() {
    var yoeSelect = document.getElementById("yoe");
    yoeSelect.disabled = false;
  }

  function ordinal(num) {
    switch (num) {
    case 1:
      return '1st';
    case 2:
      return '2nd';
    case 3:
      return '3rd';
    default:
      return num.toString() + 'th';
    }
  }