!!! 5
%html
  %head
    %title DoC Timetable
    %link{ :rel => "stylesheet", :href => "stylesheets/style.css" }
    %link{ :rel => "icon", :type => "image/png", :href => "images/favicon.png" }
    %script
      = render :haml, :javascript
  %body
    = yield