!!! 5
%html
  %head
    %title DoC Timetable
    %link{ :rel => "icon", :type => "image/png", :href => "images/favicon.png" }
    = render :haml, :stylesheets
    = render :haml, :javascripts
  %body
    = yield